div.pure-g.medium-1
  div.pure-u-1-5.bookImage
    img(src=${book.image})
  div.pure-u-4-5.bookContent
    h6 ${book.title}
    p.bookAuthor ${book.author}
    p.bookAvailable ${book.available}
    p.bookDesc ${book.description}

